@using PROJET_FINAL__WEB.Models
@model DepenseDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <br />
    <h3>Modifier une Dépense : </h3>
    <br />
    <form asp-controller="Depense" asp-action="ModifierDepense" method="post">
        <table>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="DateTemps"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="DateTemps" readonly  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Montant"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Montant"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="MontantAdmissible"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="MontantAdmissible" readonly  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Commerce"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <select asp-for="Commerce.Description"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        @foreach (CommerceDTO commerce in ViewBag.ListeCommerces)
                        {
                            if (commerce.Description == ViewBag.DescCommerce)
                            {
                                <option selected>@commerce.Description</option>
                            }
                            else
                            {
                                <option>@commerce.Description</option>}
                            }
                    </select>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Categorie"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <select asp-for="Categorie.Description"  type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        @foreach (CategorieDepenseDTO categorie in ViewBag.ListeCategorieDepense)
                        {
                            if (categorie.Description == ViewBag.DescCategorieDepense)
                            {
                                <option selected>@categorie.Description</option>
                            }
                            else
                            {
                                <option>@categorie.Description</option>}
                            }
                    </select>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <input type="submit" value="Modifier" onclick="document.getElementById('nomGarderie').value ='@ViewBag.nomGarderie';" class="btn btn-outline-success"/>
                </td>
                <td>
                    <input type="button" value="Annuler" onclick="history.back();" class="btn btn-outline-primary"/>
                </td>
            </tr>
        </table>
        <input id="nomGarderie" name="nomGarderie" type="hidden"/>
    </form>
}