@{ }
@using PROJET_FINAL__WEB.Models
@model DepenseDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
<br>
                <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
 }
else
{ @*Affichage de la liste des dépenses dans une garderie...*@
<h3>Sélectionner une Garderie :</h3>
                <form asp-controller="Depense" asp-action="Index" method="get">
                    <select name="nomGarderie" onchange="submit();" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        @foreach (GarderieDTO garderie in ViewBag.ListeGarderies)
                        {
                            if (garderie.Nom == ViewBag.NomGarderie)
                            {
                                <option selected>@garderie.Nom</option>
                            }
                            else
                            {
                                <option>@garderie.Nom</option>}
                            }
                    </select>
                </form>
                <br>
                <h3>Liste des dépense(s) (@ViewBag.ListeDepenses.Length Dépense(s)) :</h3>
                <br>
                <form asp-controller="" asp-action="" method="post">
                    <table class="table table-striped table-hover">
                        <tbody>
                            <tr>
                                <th>DateTemps</th>
                                <th>Montant</th>
                                <th>MontantAdmissible</th>
                                <th>Commerce</th>
                                <th>Categorie</th>
                                @if (ViewBag.ListeDepenses.Length > 0)
                                {
                                    <th><input value="Vider la Liste" onclick="if(confirm('Voulez-vous vraiment vider la liste?')==true){this.form.action='/Depense/ViderListeDepense'; this.form.method='post'; submit();}" type="button" class="btn btn-outline-warning"/></th>
                                }
                            </tr>
                            @foreach (DepenseDTO depense in ViewBag.ListeDepenses)
                            {
                                <tr>
                                    <td>@depense.DateTemps</td>
                                    <td>@depense.Montant</td>
                                    <td>@depense.MontantAdmissible.ToString("0.00$")</td>
                                    <td>@depense.Commerce.Description</td>
                                    <td>@depense.Categorie.Description</td>
                                    <td><input value="Modifier" onclick="document.getElementById('dateTemps').value ='@depense.DateTemps'; this.form.action='/Depense/FormulaireModifierDepense'; this.form.method='get'; submit();" type="button" class="btn btn-outline-success"></td>
                                    <td><input value="Supprimer" onclick="document.getElementById('dateTemps').value ='@depense.DateTemps'; myFunction(); this.form.action='/Depense/SupprimerDepense'; this.form.method='post'; submit();" type="button" class="btn btn-outline-danger"></td>
                                </tr>
                             }
                            <input id="nomGarderie" name="nomGarderie" type="hidden" value="@ViewBag.NomGarderie">
                            <input id="dateTemps" name="dateTemps" type="hidden">

                            <script>
                                function myFunction() {
                                    confirm("Voulez-vous supprimer la Dépense ?");
                                }
                            </script>
                        </tbody>
                    </table>
                </form>
                <b>Ajouter une dépense : </b>
                <br>
                <br>
                <form asp-controller="Depense" asp-action="AjouterDepense" method="post">
                    <input type="hidden" name="nomGarderie" value="@ViewBag.NomGarderie">
                    <table>
                        <tbody>
                            <tr class="input-group input-group-sm mb-3">
                                <td>
                                    <input type="hidden" asp-for="DateTemps" value="@DateTime.Today">
                                </td>
                            </tr>
                            <tr class="input-group input-group-sm mb-3">
                                <td>
                                    <label asp-for="Montant" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                                </td>
                                <td>
                                    <input asp-for="Montant" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                </td>
                            </tr>
                            <tr class="input-group input-group-sm mb-3">
                                <td>
                                    <label asp-for="Commerce" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                                </td>
                                <td>
                                    <select asp-for="Commerce.Description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        @foreach (CommerceDTO commerce in ViewBag.ListeCommerces)
                                        {
                                            if (commerce.Description == ViewBag.DescCommerce)
                                            {
                                                <option selected>@commerce.Description</option>
                                            }
                                            else
                                            {
                                                <option>@commerce.Description</option>}
                                            }
                                    </select>
                                </td>
                            </tr>
                            <tr class="input-group input-group-sm mb-3">
                                <td>
                                    <label asp-for="Categorie" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                                </td>
                                <td>
                                    <select asp-for="Categorie.Description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                        @foreach (CategorieDepenseDTO categorie in ViewBag.ListeCategorieDepense)
                                        {
                                            if (categorie.Description == ViewBag.DescCategorieDepense)
                                            {
                                                <option selected>@categorie.Description</option>
                                            }
                                            else
                                            {
                                                <option>@categorie.Description</option>}
                                            }
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <input type="submit" value="Ajouter" class="btn btn-outline-primary">
                </form>
                <br>
}