@using PROJET_FINAL__WEB.Models
@model CategorieDepenseDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    @*Affichage de la liste des Catégories de Dépenses...*@
    <br />
    <h3>Liste des catégorie(s) de dépense(s) (@ViewBag.ListeCategorieDepenses.Length CategorieDepense(s)) :</h3>
    <br />
    <form asp-controller="" asp-action="" method="post">
        <table class="table table-striped table-hover">
            <tr>
                <th>Description</th>
                <th>Pourcentage</th>
                @if(ViewBag.ListeCategorieDepenses.Length > 0)
                {
                    <th><input value="Vider la Liste" onclick="if(confirm('Voulez-vous vraiment vider la liste?')==true){this.form.action='/CategorieDepense/ViderListeCategorieDepense'; this.form.method='post'; submit();}" type="button" class="btn btn-outline-warning"/></th>
                }
            </tr>
            @foreach (CategorieDepenseDTO categorieDepense in ViewBag.ListeCategorieDepenses)
            {
                <tr>
                    <td>@categorieDepense.Description</td>
                    <td>@categorieDepense.Pourcentage</td>
                    <td><input value="Modifier" onclick="document.getElementById('descriptionCategorieDepense').value ='@categorieDepense.Description'; this.form.action='/CategorieDepense/FormulaireModifierCategorieDepense'; this.form.method='get'; submit();" type="button" class="btn btn-outline-success"/></td>
                    <td><input value="Supprimer" onclick="document.getElementById('descriptionCategorieDepense').value ='@categorieDepense.Description';if(confirm('Voulez-vous vraiment supprimer la Catégorie de Dépense ?')==true){this.form.action='/CategorieDepense/SupprimerCategorieDepense'; this.form.method='post'; submit();}" type="button" class="btn btn-outline-danger"/></td>
                </tr>
            }
        </table>
        <input id="descriptionCategorieDepense" name="descriptionCategorieDepense" type="hidden"/>
    </form>
    <br />
    <b>Ajouter une Catégorie de Dépense: </b>
    <br />
    <br />
    <form asp-controller="CategorieDepense" asp-action="AjouterCategorieDepense" method="post">
        <table>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Pourcentage" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Pourcentage" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Ajouter" class="btn btn-outline-primary"/>
    </form>
    <br/>
}
