@using PROJET_FINAL__WEB.Models
@model FinanceDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@

@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <br />
    <h3>Formulaire de la Garderie : @ViewBag.NomGarderie</h3>
    <br />
    <h5>Cette page permet de produire le rapport financier de la Garderie @ViewBag.NomGarderie selon les éléments suivants :</h5>
    <h6>°Revenu = nombre de présence * 8$</h6>
    <h6>°Dépenses = total des dépenses admissibles + nombre de journées * nombre d'éducateurs * 8h * 18$ (salaire)</h6>
    <h6>°Profit = Revenu - Dépenses</h6>
    <br />
    <br />
    <table>
        <tr class="input-group input-group-sm mb-3" text-align="center">
            <td>
                <label asp-for="Revenu" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Son revenu est de : @ViewBag.Finance.Revenu.ToString("0.00$")</label>
            </td>
        </tr>
        <tr class="input-group input-group-sm mb-3">
            <td>
                <label asp-for="Depenses" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">Ses dépenses sont de : @ViewBag.Finance.Depenses.ToString("0.00$")</label>
            </td>
        </tr>
        <tr class="input-group input-group-sm mb-3">
            <td>
                <label asp-for="Profit" type="text" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"> Son profit est donc de : @ViewBag.Finance.Profit.ToString("0.00$")</label>
            </td>
        </tr>
    </table>
    <tr class="input-group input-group-sm mb-3">
        <td>
            <input type="button" value="Annuler" onclick="history.back();" class="btn btn-outline-primary" />
        </td>
    </tr>
}
