@using PROJET_FINAL__WEB.Models
@model EnfantDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    @*Affichage de la liste des Enfants...*@
    <br />
    <h3>Liste des enfant(s) (@ViewBag.ListeEnfants.Length Enfant(s)) :</h3>
    <br />
    <form asp-controller="" asp-action="" method="post">
        <table class="table table-striped table-hover">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Province</th>
                <th>Téléphone</th>
                @if(ViewBag.ListeEnfants.Length > 0)
                {
                    <th><input value="Vider la Liste" onclick="if(confirm('Voulez-vous vraiment vider la liste?')==true){this.form.action='/Enfant/ViderListeEnfant'; this.form.method='post'; submit();}" type="button" class="btn btn-outline-warning"/></th>
                }
            </tr>
            @foreach (EnfantDTO enfant in ViewBag.ListeEnfants)
            {
                <tr>
                    <td>@enfant.Nom</td>
                    <td>@enfant.Prenom</td>
                    <td>@enfant.DateDeNaissance</td>
                    <td>@enfant.Adresse</td>
                    <td>@enfant.Ville</td>
                    <td>@enfant.Province</td>
                    <td>@enfant.Telephone</td>
                    <td><input value="Modifier" onclick="document.getElementById('nomEnfant').value ='@enfant.Nom'; this.form.action='/Enfant/FormulaireModifierEnfant'; this.form.method='get'; submit();" type="button" class="btn btn-outline-success"/></td>
                    <td><input value="Supprimer" onclick="document.getElementById('nomEnfant').value ='@enfant.Nom';if(confirm('Voulez-vous vraiment supprimer l°Enfant?')==true){this.form.action='/Enfant/SupprimerEnfant'; this.form.method='post'; submit();}" type="button" class="btn btn-outline-danger"/></td>
                </tr>
            }
        </table>
        <input id="nomEnfant" name="nomEnfant" type="hidden"/>
    </form>
    <br />
    <b>Ajouter un Enfant: </b>
    <br />
    <br />
    <form asp-controller="Enfant" asp-action="AjouterEnfant" method="post">
        <table>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Nom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Nom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Prenom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Prenom" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="DateDeNaissance" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="DateDeNaissance" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Adresse" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Adresse" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Ville" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Ville" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Province" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <select asp-for="Province" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <option selected>Alberta</option>
                        <option>British Columbia</option>
                        <option>Manitoba</option>
                        <option>New Brunswick</option>
                        <option>Newfoundland and Labrador</option>
                        <option>Nova Scotia</option>
                        <option>Ontario</option>
                        <option>Prince Edward Island</option>
                        <option>Quebec</option>
                        <option>Saskatchewan</option>
                    </select>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Telephone" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="Telephone" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
        </table>
        <input type="submit" value="Ajouter" class="btn btn-outline-primary"/>
    </form>
    <br/>
}
