@using PROJET_FINAL__WEB.Models
@model PresenceDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br />
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <br />
    <h3>Modifier une Présence : </h3>
    <br />
    <form asp-controller="Presence" asp-action="ModifierPresence" method="post">
        <table>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="DateTemps" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    <input asp-for="DateTemps" readonly type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"/>
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <label asp-for="Enfant" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    @if(ViewBag.ListeEnfants.Length <= 6)
                    {
                        <div class="form-check">
                        @foreach (EnfantDTO enfant in ViewBag.ListeEnfants)
                        {
                            if (enfant.Nom == ViewBag.Enfant.Nom && enfant.Prenom == ViewBag.Enfant.Prenom && enfant.DateDeNaissance == ViewBag.Enfant.DateDeNaissance)
                            {
                                <input class="form-check-input" type="radio" name="enfantInfo" value="@enfant.Nom;@enfant.Prenom;@enfant.DateDeNaissance" checked>
                                <label class="form-check-label" name="enfantInfo">
                                @enfant.Nom;@enfant.Prenom;@enfant.DateDeNaissance
                                </label>
                                <br>
                            }
                            else
                            {
                                <input class="form-check-input" type="radio" name="enfantInfo" value="@enfant.Nom;@enfant.Prenom;@enfant.DateDeNaissance">
                                <label class="form-check-label" name="enfantInfo">
                                @enfant.Nom;@enfant.Prenom;@enfant.DateDeNaissance
                                </label>
                                <br>
                            }
                    
                        }
                        </div>
                    }
                    else
                    {
                        <select name="enfantInfo" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        @foreach (EnfantDTO enfant in ViewBag.ListeEnfants)
                        {
                            if (enfant.Nom == ViewBag.Enfant.Nom && enfant.Prenom == ViewBag.Enfant.Prenom && enfant.DateDeNaissance == ViewBag.Enfant.DateDeNaissance)
                            {
                                <option selected>@enfant.Nom;@enfant.Prenom;@enfant.DateDeNaissance</option>
                            }
                            else
                            {
                                <option>@enfant.Nom;@enfant.Prenom;@enfant.DateDeNaissance</option>
}
                        }
                        </select>
                    }
                </td>
                <td>
                    <label asp-for="Educateur" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"></label>
                </td>
                <td>
                    @if(ViewBag.ListeEducateurs.Length <= 6)
                    {
                        <div class="form-check">
                        @foreach (EducateurDTO educateur in ViewBag.ListeEducateurs)
                        {
                            if (educateur.Nom == ViewBag.Educateur.Nom && educateur.Prenom == ViewBag.Educateur.Prenom && educateur.DateDeNaissance == ViewBag.Educateur.DateDeNaissance)
                            {
                                <input class="form-check-input" type="radio" name="educateurInfo" value="@educateur.Nom;@educateur.Prenom;@educateur.DateDeNaissance" checked>
                                <label class="form-check-label" name="educateurInfo">
                                @educateur.Nom;@educateur.Prenom;@educateur.DateDeNaissance
                                </label>
                                <br>
                            }
                            else
                            {
                                <input class="form-check-input" type="radio" name="educateurInfo" value="@educateur.Nom;@educateur.Prenom;@educateur.DateDeNaissance">
                                <label class="form-check-label" name="educateurInfo">
                                @educateur.Nom;@educateur.Prenom;@educateur.DateDeNaissance
                                </label>
                                <br>
                            }
                    
                        }
                        </div>
                    }
                    else
                    {
                        <select name="educateurInfo" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        @foreach (EducateurDTO educateur in ViewBag.ListeEducateurs)
                        {
                            if (educateur.Nom == ViewBag.Educateur.Nom && educateur.Prenom == ViewBag.Educateur.Prenom && educateur.DateDeNaissance == ViewBag.Educateur.DateDeNaissance)
                            {
                                <option selected>@educateur.Nom;@educateur.Prenom;@educateur.DateDeNaissance</option>
                            }
                            else
                            {
                                <option>@educateur.Nom;@educateur.Prenom;@educateur.DateDeNaissance</option>
}
                        }
                        </select>
                    }
                </td>
            </tr>
            <tr class="input-group input-group-sm mb-3">
                <td>
                    <input type="submit" value="Modifier" onclick="document.getElementById('nomEnfant').value ='@ViewBag.nomEnfant';" class="btn btn-outline-success"/>
                </td>
                <td>
                    <input type="button" value="Annuler" onclick="history.back();" class="btn btn-outline-primary"/>
                </td>
            </tr>
        </table>
        <input id="nomGarderie" name="nomGarderie" type="hidden"/>
    </form>
}